#img-bg{
    background-image: url('https://cdna.artstation.com/p/assets/images/images/012/773/544/large/john-paul-cavara-shire-edited-2.jpg?1536444233');

    min-height: 947px;
    max-height: 947px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}